.profile {
  padding-top: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;


}

@media screen and (max-width: 320px) {
  .profile  {
    flex-direction: column;
    justify-content: space-between;
    padding: 74px 19px 0;

  }
}
