.profile__edit {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  cursor: pointer;

}

.profile__edit:hover {
  opacity: 0.6;
  transition: opacity ease-in 0.5s;
}

@media screen and  (max-width:  450px) {
  .profile__edit svg{
    width: 18px;
    height: 18px;
  }
}

