.popup__form-text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  margin: 48px 36px 37px;
  background: #000000;
  border-radius: 2px;
  padding: 14px 0 18px 0;

}

.popup__form-text :hover {
  opacity: 0.8;
  transition: opacity ease-in 0.5s;
}


@media screen and (max-width: 850px) {
  .popup__form-text{
    font-size: 14px;
    line-height: 17px;
    margin: 45px 22px 25px;
    padding: 14px 82px;
  }
}
