.profile__plus {
  min-width: 50px;
  min-height: 50px;
  max-width: 150px;
  margin: 0;
  padding: 0;
  background: transparent;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  flex-grow: 1;

}

@media screen and  (max-width:  450px) {
  .profile__plus  {

    min-width: 282px;
    margin: 0 auto;
    padding-bottom: 36px;
  }
}