.profile__image {
  border-radius: 50%;
  width: 120px;
  height: 120px;
}

@media screen and (max-width: 450px) {
  .profile__image    {
    margin: 38px 0 22px 0;
  }
}

.profile__image:hover {
  background: url("../../../images/pencil.svg"), #000;
  cursor: pointer;
  opacity: 0.8;
  z-index: 2;
}
